<?xml version="1.0"?>

<!--
/**
 * @category    ScandiPWA
 * @package     ScandiPWA_WishlistGraphQl
 * @copyright   Copyright © Scandiweb, Inc. All rights reserved.
 * @copyright   Modifications © Selveq. All rights reserved.
 * @license     OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\WishlistGraphQl\Model\Resolver\WishlistResolver"
        type="ScandiPWA\WishlistGraphQl\Model\Resolver\WishlistResolver" />
    <preference for="Magento\WishlistGraphQl\Model\Resolver\WishlistItemsResolver"
        type="ScandiPWA\WishlistGraphQl\Model\Resolver\WishlistItemsResolver" />
</config>
